html {
    background: linear-gradient(45deg, #7700ff 0%, #00b7ff 75%);
    height: 100%;
}

body {
    margin: 0
}

.nav-bar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    background: rgba(255, 255, 255, 0.4);
}

.nav-bar-tab {
    flex: 1;
    margin: 5px;
    color: black;
    padding: 0.6rem 0rem;
    text-align: center;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 2px 3px black;
  }

  .nav-bar-tab:hover {
    background: rgb(255, 128, 255);
  }

  /* This selector is basically "mouse-down" */
  .nav-bar-tab:active:hover {
    background: purple;
  }

  #lego-render-canvas{
    width: 600px;
    height: 500px;
  }